# Mac OS X
.DS_Store

## Test Resources (no need for consumers to download huge test dependency files)
## Would be nice to have someway to include these anyway
#Tests/JSONTests/Fixtures/*

# Created by https://www.gitignore.io/api/xcode

### Xcode ###
# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Build generated
.build/
build/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint

# Include the Packages folder so that Carthage has the sources it needs.
# Need to find a better way.

## SPM
/Packages

## Carthage
/Carthage
