<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classNames</key>
	<dict>
		<key>JSONPerformanceTests</key>
		<dict>
			<key>testParseLargeJsonArray()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.18962</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Apr 14, 2016, 5:41:35 PM</string>
				</dict>
			</dict>
			<key>testParsePerformanceWithLargeJson()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>1.1517</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Apr 14, 2016, 5:41:35 PM</string>
				</dict>
			</dict>
			<key>testParsePerformanceWithLargeJsonNSJSONSerialization()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.081195</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Apr 14, 2016, 5:41:35 PM</string>
				</dict>
			</dict>
			<key>testParsePerformanceWithTwoHundredMegabyteFile()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>1.3087</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Apr 13, 2016, 9:36:26 PM</string>
				</dict>
			</dict>
			<key>testParseSimple10KeyPairObject()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>1.5863</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Apr 14, 2016, 5:41:35 PM</string>
				</dict>
			</dict>
			<key>testSerializerSpeed()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.3225</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Apr 14, 2016, 5:41:35 PM</string>
				</dict>
			</dict>
			<key>testSerializerSpeedNSJSONSerialization()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.1287</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>testSerializerSpeedPrettyPrinting()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.37919</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Apr 14, 2016, 5:41:35 PM</string>
				</dict>
			</dict>
			<key>testSerializerSpeedPrettyPrintingNSJSONSerialization()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.13186</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
